.button-container {
  margin: 0.5rem 0.5rem 0.5rem auto;
  display: flex;
  flex-direction: column;
  width: 7rem;
  text-align: right;
  background-color: #1976d2;
  border-radius: 0.3rem;
}

.modelsListContainer {
  padding: 10px;
  max-width: 1040px;
  margin: auto;
}

.modelsListContainer h1{
  max-width: 540px;
  margin: auto auto 20px auto;
  text-align: center;
}

.modelsContainer {
  padding: 10px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.modelBox {
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  background: #fcfcfc;
  text-align: center;
  cursor: pointer;
}
.modelBox img {
  width: 100%;
  margin-bottom: 10px;
}
.modelBox h2{
  font-size: 18px;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.6);
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.overlay > Button {
  pointer-events: all;
}
